/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "ngx-toastr/toastr-bs5-alert";
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}
