.top-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f9fa;
  border: 2px dotted #080808;
  border-radius: 10px;
  height: 250px;
}

